<div class="container">
    <h1>Pokemons list </h1>
    <div class="row">
        <div class="row col m4 s6"  *ngFor="let pokemon of pokemonList">
            <div class="card horizontal">
                <div class="card-image">
                    <img [src]="pokemon.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{pokemon.name}}</p>
                        <label>{{pokemon.created}}</label>
                    </div>
                </div>
            </div>
        </div>       
    </div>

</div>

